.App {
  text-align: center;
}

.container{
  display: grid;
  padding: 5%;
  grid-template-rows: repeat(7,auto) ;
  margin-top: 10%;
  grid-gap: 10px 10px;
}

.row{
  display: grid;
  grid-template-columns: repeat(7,auto) ;
}

.red{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
  justify-self: center;
}

.yellow{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:yellow;
  justify-self: center;
}

.box{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:white;
  justify-self: center;
}

.table{
  background-color: blue;
}

button{
  width: 60px;
  justify-self: center;
}

.material-icons{
  padding: 15px;
  -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
